<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/wtf-forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Genre Detection</title>
</head>

<body>
    <div class="container">
        <h1>Music Genre Detection</h1>
        <form id="audio-form" action="/genre" method="post" enctype="multipart/form-data">
            <label class="file">
                <input type="file" name="audio_file" id="file-input" aria-label="File browser example">
                <span class="file-custom" data-file-name="Choose file..."></span>
            </label>
            <input type="submit" value="Detect" id="submit-button">
        </form>
        <div id="loading" style="display: none;">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_6K4Hjs.json" background="transparent"
                speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player>
        </div>
    </div>

    <script>
        const fileInput = document.getElementById('file-input');
        const fileCustom = document.querySelector('.file-custom');
        const audioForm = document.getElementById('audio-form');
        const loadingDiv = document.getElementById('loading');
        const submitButton = document.getElementById('submit-button');

        audioForm.addEventListener('submit', function (event) {
            if (!fileInput.value) {
                event.preventDefault();
                alert('Please select a file before submitting.');
            } else {
                loadingDiv.style.display = 'block';
                audioForm.style.display = 'none'
                submitButton.disabled = true;
            }
        });

        fileInput.addEventListener('change', function () {
            const filename = this.value.split('\\').pop();
            fileCustom.setAttribute("data-file-name", filename);
        });
    </script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</body>

</html>